[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=tab
indent_size=tab
tab_width=4

[*.js]
tab_width=2
indent_style=space
indent_size=2

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.scala,*.sc}]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

